# Project

### Import Modules

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### Loading Datasets

In [20]:
FILENAME= "calendar.csv"
DATADIR = "../pfda_project/"

calendar_df = pd.read_csv(DATADIR + FILENAME, header=0)

In [4]:
FILENAME= "inventory.csv"
DATADIR = "../pfda_project/"

inventory_df = pd.read_csv(DATADIR + FILENAME, header=0)

In [5]:
FILENAME= "sales_test.csv"
DATADIR = "../pfda_project/"

sales_test_df = pd.read_csv(DATADIR + FILENAME, header=0)

In [6]:
FILENAME= "sales_train.csv"
DATADIR = "../pfda_project/"

sales_train_df = pd.read_csv(DATADIR + FILENAME)

In [7]:
FILENAME= "solution.csv"
DATADIR = "../pfda_project/"

solution_df = pd.read_csv(DATADIR + FILENAME)

In [8]:
FILENAME= "test_weights.csv"
DATADIR = "../pfda_project/"

test_weights_df = pd.read_csv(DATADIR + FILENAME)

### Information about datasets

##### calendar_df

In [9]:
calendar_df.head(1)

,date,holiday_name,holiday,shops_closed,winter_school_holidays,school_holidays,warehouse
0,2022-03-16,NaN,0,0,0,0,Frankfurt_1

In [51]:
calendar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23016 entries, 0 to 23015
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    23016 non-null  object
 1   holiday_name            930 non-null    object
 2   holiday                 23016 non-null  int64
 3   shops_closed            23016 non-null  int64
 4   winter_school_holidays  23016 non-null  int64
 5   school_holidays         23016 non-null  int64
 6   warehouse               23016 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.2+ MB

First date in dataset

In [25]:
calendar_df.date[0]

'2022-03-16'

Last date in dataset

In [27]:
calendar_df.date[23015]

'2024-03-30'

##### inventory_df

In [30]:
inventory_df.head(5)

,unique_id,product_unique_id,name,L1_category_name_en,L2_category_name_en,L3_category_name_en,L4_category_name_en,warehouse
0,5255,2583,Pastry_196,Bakery,Bakery_L2_14,Bakery_L3_26,Bakery_L4_1,Prague_3
1,4948,2426,Herb_19,Fruit and vegetable,Fruit and vegetable_L2_30,Fruit and vegetable_L3_86,Fruit and vegetable_L4_1,Prague_3
2,2146,1079,Beet_2,Fruit and vegetable,Fruit and vegetable_L2_3,Fruit and vegetable_L3_65,Fruit and vegetable_L4_34,Prague_1
3,501,260,Chicken_13,Meat and fish,Meat and fish_L2_13,Meat and fish_L3_27,Meat and fish_L4_5,Prague_1
4,4461,2197,Chicory_1,Fruit and vegetable,Fruit and vegetable_L2_17,Fruit and vegetable_L3_33,Fruit and vegetable_L4_1,Frankfurt_1

In [31]:
inventory_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5432 entries, 0 to 5431
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   unique_id            5432 non-null   int64
 1   product_unique_id    5432 non-null   int64
 2   name                 5432 non-null   object
 3   L1_category_name_en  5432 non-null   object
 4   L2_category_name_en  5432 non-null   object
 5   L3_category_name_en  5432 non-null   object
 6   L4_category_name_en  5432 non-null   object
 7   warehouse            5432 non-null   object
dtypes: int64(2), object(6)
memory usage: 339.6+ KB

#### sales_test_df

In [33]:
sales_train_df.head(1)

,unique_id,date,warehouse,total_orders,sales,sell_price_main,availability,type_0_discount,type_1_discount,type_2_discount,type_3_discount,type_4_discount,type_5_discount,type_6_discount
0,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,0.0,0.15312,0.0,0.0

In [34]:
sales_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   unique_id        1048575 non-null  int64
 1   date             1048575 non-null  object
 2   warehouse        1048575 non-null  object
 3   total_orders     1048556 non-null  float64
 4   sales            1048556 non-null  float64
 5   sell_price_main  1048575 non-null  float64
 6   availability     1048575 non-null  float64
 7   type_0_discount  1048575 non-null  float64
 8   type_1_discount  1048575 non-null  float64
 9   type_2_discount  1048575 non-null  float64
 10  type_3_discount  1048575 non-null  float64
 11  type_4_discount  1048575 non-null  float64
 12  type_5_discount  1048575 non-null  float64
 13  type_6_discount  1048575 non-null  float64
dtypes: float64(11), int64(1), object(2)
memory usage: 112.0+ MB

#### sales_test_df

In [43]:
sales_test_df.head(1)

,unique_id,date,warehouse,total_orders,sell_price_main,type_0_discount,type_1_discount,type_2_discount,type_3_discount,type_4_discount,type_5_discount,type_6_discount
0,1226,2024-06-03,Brno_1,8679.0,13.13,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
sales_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47021 entries, 0 to 47020
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unique_id        47021 non-null  int64
 1   date             47021 non-null  object
 2   warehouse        47021 non-null  object
 3   total_orders     47021 non-null  float64
 4   sell_price_main  47021 non-null  float64
 5   type_0_discount  47021 non-null  float64
 6   type_1_discount  47021 non-null  float64
 7   type_2_discount  47021 non-null  float64
 8   type_3_discount  47021 non-null  float64
 9   type_4_discount  47021 non-null  float64
 10  type_5_discount  47021 non-null  float64
 11  type_6_discount  47021 non-null  float64
dtypes: float64(9), int64(1), object(2)
memory usage: 4.3+ MB

#### solution_df

In [56]:
solution_df.head(5)

                id  sales_hat
0  1226_2024-06-03          0
1  1226_2024-06-11          0
2  1226_2024-06-13          0
3  1226_2024-06-15          0
4  1226_2024-06-09          0

In [57]:
solution_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47021 entries, 0 to 47020
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         47021 non-null  object
 1   sales_hat  47021 non-null  int64
dtypes: int64(1), object(1)
memory usage: 734.8+ KB

#### test_weight_df

In [58]:
test_weights_df.head(5)

   unique_id    weight
0          0  2.535369
1          1  3.888933
2          2  5.885237
3          3  2.139552
4          5  3.021715

In [59]:
test_weights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5390 entries, 0 to 5389
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  5390 non-null   int64
 1   weight     5390 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 84.3 KB

### Data preprocessing

In [11]:
# Merge Data
data = sales_train_df.merge(calendar_df, on='date', how='left').merge(inventory_df, on='unique_id', how='left')

In [12]:
data.head(1)

,unique_id,date,warehouse_x,total_orders,sales,sell_price_main,availability,type_0_discount,type_1_discount,type_2_discount,...,winter_school_holidays,school_holidays,warehouse_y,product_unique_id,name,L1_category_name_en,L2_category_name_en,L3_category_name_en,L4_category_name_en,warehouse
0,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,0,0,Brno_1,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1
1,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,0,0,Prague_1,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1
2,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,0,0,Prague_2,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1
3,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,0,0,Budapest_1,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1
4,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,0,0,Munich_1,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1

In [13]:
# Date engeneering
data['day_of_week'] = pd.to_datetime(data['date']).dt.dayofweek
data['is_weekend'] = data['day_of_week'].isin([5, 6]).astype(int)
data['is_holiday'] = data['holiday'].fillna(0).astype(int)

In [14]:
data.head()

,unique_id,date,warehouse_x,total_orders,sales,sell_price_main,availability,type_0_discount,type_1_discount,type_2_discount,...,product_unique_id,name,L1_category_name_en,L2_category_name_en,L3_category_name_en,L4_category_name_en,warehouse,day_of_week,is_weekend,is_holiday
0,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1,6,1,0
1,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1,6,1,0
2,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1,6,1,0
3,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1,6,1,0
4,4845,2024-03-10,Budapest_1,6436.0,16.34,646.26,1.0,0.0,0.0,0.0,...,2375,Croissant_35,Bakery,Bakery_L2_18,Bakery_L3_83,Bakery_L4_1,Budapest_1,6,1,0

In [15]:
# Create lag features
for lag in [1, 7, 30]:
    data[f'sales_lag_{lag}'] = data.groupby('unique_id')['sales'].shift(lag)

In [16]:
# Rolling
data['rolling_mean_7'] = data.groupby('unique_id')['sales'].shift(1).rolling(window=7).mean()

In [17]:
# Drop rows with NaN values after feature engineering
data = data.dropna()

In [18]:
data.head()

,unique_id,date,warehouse_x,total_orders,sales,sell_price_main,availability,type_0_discount,type_1_discount,type_2_discount,...,L3_category_name_en,L4_category_name_en,warehouse,day_of_week,is_weekend,is_holiday,sales_lag_1,sales_lag_7,sales_lag_30,rolling_mean_7
77,4845,2020-12-24,Budapest_1,2998.0,0.0,494.02,1.0,0.0,0.0,0.0,...,Bakery_L3_83,Bakery_L4_1,Budapest_1,3,0,1,28.72,28.72,6.39,28.720000
78,4845,2020-12-24,Budapest_1,2998.0,0.0,494.02,1.0,0.0,0.0,0.0,...,Bakery_L3_83,Bakery_L4_1,Budapest_1,3,0,1,0.00,28.72,6.39,24.617143
79,4845,2020-12-24,Budapest_1,2998.0,0.0,494.02,1.0,0.0,0.0,0.0,...,Bakery_L3_83,Bakery_L4_1,Budapest_1,3,0,1,0.00,28.72,12.04,20.514286
80,4845,2020-12-24,Budapest_1,2998.0,0.0,494.02,1.0,0.0,0.0,0.0,...,Bakery_L3_83,Bakery_L4_1,Budapest_1,3,0,1,0.00,28.72,12.04,16.411429
81,4845,2020-12-24,Budapest_1,2998.0,0.0,494.02,1.0,0.0,0.0,0.0,...,Bakery_L3_83,Bakery_L4_1,Budapest_1,3,0,1,0.00,28.72,12.04,12.308571